<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link typer="text/css" rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <div id="app">
    <h1>Create a new account</h1>
        <template>
            <div>
                <b-form>
                    <b-form-group horizontal label="Login :"
                                  label-for="login" inline>
                        <b-form-input id="login"
                                      type="text"
                                      v-model="form.login"
                                      required
                                      placeholder="Your login here"
                                      minlength="2"
                                      maxlength="20"
                                      >
                        </b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Email :"
                                  label-for="email">
                        <b-form-input id="email"
                                      type="email"
                                      v-model="form.email"
                                      required
                                      placeholder="Your email here"
                                      maxlength="50">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Password :"
                                  label-for="password">
                        <b-form-input id="password"
                                      type="password"
                                      v-model="form.password"
                                      required
                                      placeholder="Your password here"
                                      maxlength="50">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Confirm password :"
                                  label-for="password2">
                        <b-form-input id="password2"
                                      type="password"
                                      v-model="form.password2"
                                      required
                                      placeholder="Your password here"
                                      maxlength="50">
                        </b-form-input>
                    </b-form-group>
                    <div class="boutons">
                        <b-button type="submit" variant="primary">OK</b-button>
                        <b-button type="reset" variant="danger">Cancel</b-button>
                    </div>
                </b-form>
            </div>
        </template>
    </div>

</div>



<script type="text/javascript" src="js/vue.js"></script>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script type="text/javascript" src="target/classes/lib/kotlin.js"></script>
<script type="text/javascript" src="target/classes/ttmik.js"></script>
<script type="text/javascript" src="js/kotlinVue.js"></script>

<script>
    ttmik.declareInscription();
</script>

</body>
</html>